<li style="border-bottom: 1px solid var(--c-border)" class="py-3 flex items-start justify-between gap-4 last:border-b-0">
  <div>
    <a href="{{ .RelPermalink }}" class="text-heading! font-medium no-underline hover:underline! hover:text-accent!">
      {{ .Title }}
    </a>
    {{ with .GetTerms "tags" }}
    <div class="flex flex-wrap gap-2 mt-3">
      {{ range . }}
      <a href="{{ .RelPermalink }}" class="text-xs no-underline! lowercase text-muted hover:text-sm">
        #{{ .Title }}
      </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ if ne .Kind "term" }}
  <time datetime="{{ .Date.Format "2006-01-02" }}" class="text-muted text-sm whitespace-nowrap shrink-0 mt-0.5">
    {{ .Date.Format "Jan 2006" }}
  </time>
  {{ end }}
</li>
